<router-outlet></router-outlet>
<blockquote class="blockquote text-center">
    <p class="mb-0">Cualquier consulta, contacte al Administrador:</p>
    <footer class="blockquote-footer">Software Developer <cite title="Source Title">Mauricio Mage </cite>
        <ul class="list-inline">
            <li class="list-inline-item">Cel: 3513930164</li>
            <li class="list-inline-item">Email: mauriciomage@gmail.com</li>
        </ul>
        <hr>
     <a href="https://envioentregas.com/prod" target="_blank">Visita</a></footer>
  </blockquote>
